.title-section{
    background: url('../../../public/images/title-bg6.jpg')center/cover no-repeat;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    object-fit: contain;
  }
  .page-title{
    font-size: 36px;
    color: #ffff;
  }